* {
    padding: 0%;
    margin: 0;
    border: 0;
    background-color: #d8f3dc;
    font-family: 'Courier New', Courier, monospace;
}
.entry {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.head {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    border: 2px solid #92c89a;
    border-radius: 6px;
    padding: 8px;
    margin: 4px;
}
button {
    background-color: #a6dbae;
    border: 2px solid #92c89a;
    border-radius: 6px;
    padding: 8px;
}
.outputDiv {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    background-color: #a6dbae;
    border: 2px solid #92c89a;
    border-radius: 6px;
    padding: 8px;
}
